.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  color: black;
  font-size: 2.5em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  line-height: 1;
  padding: 8px 20px 8px 2px;
  border-top: 4px solid;
  border-bottom: 4px solid;

  margin-bottom: 10px;
}
.statisticsTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  background-image: linear-gradient(to left, #f3e009, #17bd27);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  line-height: 1;
  padding: 8px 20px 8px 2px;

  margin-top: 10px;
  margin-bottom: 10px;
}
